.inline-flex-center {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.inline-flex-evenly {
    display: inline-flex;
    justify-content: space-evenly;
    width: 100%;
}

.text-center {
    text-align: center;
}

.m-t-10 {
    margin-top: 10px;
}

.m-t-20 {
    margin-top: 20px;
}

.success {
    color: green;
}

.error {
    color: red;
}

.prev,
.next {
    padding-top: 3px;
}

button {
    background: transparent;
    border: 0px;
}

.player-card {
    min-width: 245px;
}

.player-controls {
    padding: 0.4em 0;
    min-height: 28px;
}

.prev {
    margin-top: 1px;
}

.next {
    margin-right: 12px;
    padding-right: 1em;
    z-index: 99;
}

.play-pause {
    padding: 0.18em 1.3em 0em 1.5em;
    width: 57px;
}

.player-info .song-info {
    width: calc(100% - 95px);
    font: 13px/1.4 "Lucida Grande", "Lucida Sans Unicode", "Lucida Saem", Garuda, Verdana, Tahoma, sans-serif;
    padding-left: 2px;
}

.player-info .settings-container {
    float: right;
    width: 30px;
}

#nzqm-artist {
    margin-bottom: 0;
}

#nzqm-title {
    margin-top: 0;
}

#nzqm-song-image {
    width: 50px;
    height: 50px;
    padding: 0 2px;
    background-repeat: no-repeat;
    background-position: center;
}

.repeat {
    padding: 0 1em;
}

.like {
    padding: 0.2em 0.5em;
}


input[type='range'] {
    -webkit-appearance: none;
    border-radius: 5px;
    box-shadow: inset 0 0 5px #333;
    background-color: #999;
    height: 10px;
    vertical-align: middle;
}

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    border-radius: 20px;
    background-color: #FFF;
    box-shadow: inset 0 0 10px rgba(000, 000, 000, 0.5);
    border: 1px solid #999;
    height: 20px;
    width: 20px;
}

#nzqm-scroll-volume {
    width: 8.9em;
    padding: 15px;
    transform: rotate(90deg);
    border-radius: 0 4px 4px 0px;
    margin-top: 62px;
    margin-left: 240px;
    display: none;
}

#nzqm-timer-container {
    display: flex;
}

#nzqm-timer-bar-container {
    width: 80%;
    position: absolute;
    top: 58px;
    right: 10px;
}

#nzqm-timer-bar {
    width: 100%;
    height: 3px;
    margin: 7px 0 0 0;
    position: relative;
    border-radius: 50px;
}

#nzqm-clock {
    padding: 5px;
    font-size: 10px;
}

#nzqm-timer-background {
    height: 100%;
    width: 0px;
}

#nzqm-timer-pointer {
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    margin-left: -6px;
    margin-top: -6px;
    cursor: pointer;
}

.disappear {
    display: none;
}

.appear {
    display: block!important;
}

body {
    margin: 0px;
}

:focus {
    outline: none;
}

img:hover {
    cursor: pointer;
}

/*Settings page*/

#nzqm-options-container {
    padding: 5px;
    min-width: 270px;
}

#nzqm-save,
#nzqm-shortcuts {
    padding: 5px 10px;
    border: 1px solid #ddd;
    color: #222;
}

#nzqm-save:hover,
#nzqm-shortcuts:hover {
    padding: 5px 10px;
    color: #fff;
    background: #f50;
}

#theme-select {
    width: 100px;
    border-radius: 0px;
    background: transparent;
    -webkit-border-radius: 0;
    border: 0;
}

#nzqm-settings-header {
    text-align: right; 
}

#nzqm-back-button {
    position: absolute;
    top: 12px;
    right: 5px;
    border-left: 1px solid #ddd;
}

#nzqm-operation-result {
    min-height: 17px;
}

#nzqm-operation-result p {
    margin: 0;
}

/*Marquee scroll*/
.scroll-container {
    height: 50px;
    overflow: hidden;
    position: relative;
}
.scroll-container p.scroll {
    position: absolute;
    width: auto;
    height: 100%;
    margin: 0;
    text-align: center;
    white-space: nowrap;
    -webkit-transform:translateX(0%);
    -webkit-animation: scrollAnimation 7s linear infinite;
}
/* Move it (define the animation) */
@-webkit-keyframes scrollAnimation {
    0%   { -webkit-transform: translateX(100%); }
    100% { -webkit-transform: translateX(-100%); }
}
