/*LIGHT THEME*/

.player-card.light {
    background: #fff;
}

.light .player-controls {
    background: -webkit-linear-gradient(top, rgba(221,221,221,0.95) 1%,rgba(241, 241, 241, 0.95) 70%,rgba(0,0,0,0) 100%);
    border-top: 1px solid #cecece;
}

.light .player-info .song-info {
    color: #222;
}

.light #nzqm-settings-button {
    border-left: 1px solid #ddd;
}

.light .sound {
    border-left: 1px solid rgba(0, 0, 0, 0.5);
}

.light #nzqm-scroll-volume {
    background: #222;
}

.light #nzqm-timer-bar {
    background: rgba(0,0,0,0.2);
}

.light #nzqm-clock {
    color: #222;
}

.light #nzqm-timer-background {
    background: #f50;
}

.light #nzqm-timer-pointer {
    background: #f50;
    border: 1px solid #eee;
    box-shadow: 0px 0px 3px #f50;
}

.light #nzqm-timer-pointer:hover,
.light #nzqm-timer-pointer:focus {
    box-shadow: 0px 0px 10px #f50;
}



/*DARK THEME*/

.player-card.dark {
    background: #5a5a5a;
}

.dark .player-controls {
    background: -webkit-linear-gradient(top, rgba(134, 131, 131, 0.95) 1%,rgba(70, 64, 64, 0.27) 70%,rgba(115, 112, 112, 0.48) 100%);
    border-top: 1px solid #ff5500;
}

.dark .player-info .song-info {
    color: #fff;
}

.dark #nzqm-settings-button {
    border-left: 1px solid #ddd;
}

.dark .sound {
    border-left: 1px solid rgba(0, 0, 0, 0.5);
}

.dark #nzqm-scroll-volume {
    background: #fff;
}

.dark #nzqm-timer-bar {
    background: rgba(255,255,255,0.2);
}


.dark #nzqm-clock {
    color: #fff;
}

.dark #nzqm-timer-background {
    background: #f50;
}

.dark #nzqm-timer-pointer {
    background: #f50;
    border: 1px solid #eee;
    box-shadow: 0px 0px 3px #f50;
}

.dark #nzqm-timer-pointer:hover,
.dark #nzqm-timer-pointer:focus {
    box-shadow: 0px 0px 10px #f50;
}



/*MATRIX THEME*/

.player-card.matrix {
    background: #0a0a0a;
}

.matrix i {
    color: #44bb07;
}

.matrix .player-controls {
    border-top: 1px solid #44bb07;
}

.matrix .player-info .song-info {
    color: #fff;
}

.matrix #nzqm-settings-button {
    border-left: 1px solid #ddd;
}

.matrix .sound {
    border-left: 1px solid rgba(68, 187, 7, 0.5);
}

.matrix #nzqm-scroll-volume {
    background: #fff;
}

.matrix #nzqm-timer-bar {
    background: rgba(255,255,255,0.2);
}


.matrix #nzqm-clock {
    color: #fff;
}

.matrix #nzqm-timer-background {
    background: #f50;
}

.matrix #nzqm-timer-pointer {
    background: #f50;
    border: 1px solid #eee;
    box-shadow: 0px 0px 3px #f50;
}

.matrix #nzqm-timer-pointer:hover,
.matrix #nzqm-timer-pointer:focus {
    box-shadow: 0px 0px 10px #f50;
}



/*CARTOON THEME*/

.player-card.cartoon {
    background: #82c597;
}

.cartoon i {
    color: #82c597;
}

.cartoon .player-controls {
    background: #524f4f;
    border-top: 1px solid #f44336;
}

.cartoon .player-info .song-info {
    color: #0a0a0a;
}

.cartoon #nzqm-settings-button {
    border-left: 1px solid #0a0a0a;
}

.cartoon #nzqm-settings-icon {
    -webkit-text-fill-color: #0a0a0a;
    font-weight: bold;
}

.cartoon .sound {
    border-left: 1px solid rgba(255, 255, 255, 0.5);
}

.cartoon #nzqm-scroll-volume {
    background: #0a0a0a;
}

.cartoon #nzqm-timer-bar {
    background: rgba(255,255,255,0.2);
}


.cartoon #nzqm-clock {
    color: #0a0a0a;
}

.cartoon #nzqm-timer-background {
    background: #524f4f;
}

.cartoon #nzqm-timer-pointer {
    background: #524f4f;
    border: 1px solid #eee;
    box-shadow: 0px 0px 3px #524f4f;
}

.cartoon #nzqm-timer-pointer:hover,
.cartoon #nzqm-timer-pointer:focus {
    box-shadow: 0px 0px 10px #524f4f;
}



/*EVIL THEME*/

.player-card.evil {
    background: -webkit-linear-gradient(top, rgb(215, 8, 57) 1%,rgba(0, 0, 0, 0.95) 35%,rgb(206, 8, 56) 100%);
}

.evil i {
    color: #ffeb3b;
}

.evil .player-controls {
    background: -webkit-linear-gradient(top, rgba(249, 0, 57, 0.95) 1%,rgba(20, 22, 23, 0.95) 70%,rgb(25, 79, 84) 100%);
    border-top: 1px solid #ffeb3b;
}

.evil .player-info .song-info {
    color: #fff;
}

.evil #nzqm-settings-button {
    border-left: 1px solid #ffeb3b;
}

.evil #nzqm-settings-icon {
    -webkit-text-fill-color: #ffeb3b;
    font-weight: bold;
}

.evil .sound {
    border-left: 1px solid rgba(255, 255, 255, 0.5);
}

.evil #nzqm-scroll-volume {
    background: #0a0a0a;
}

.evil #nzqm-timer-bar {
    background: rgba(255,255,255,0.2);
}


.evil #nzqm-clock {
    color: #fff;
}

.evil #nzqm-timer-background {
    background: #ffeb3b;
}

.evil #nzqm-timer-pointer {
    background: #ffeb3b;
    border: 1px solid #eee;
    box-shadow: 0px 0px 3px #ffeb3b;
}

.evil #nzqm-timer-pointer:hover,
.evil #nzqm-timer-pointer:focus {
    box-shadow: 0px 0px 10px #ffeb3b;
}